.purpose{
    display: flex;
    gap: 30px;
    padding: 30px 20px 120px;
    
    .purpose__container{
        background-color: var(--title-color);
        color: var(--font-color);
        padding: 70px 80px;

        .purpose__title{
            font-size: 38px;

        }

        .purpose__description{
            font-size: 16px;
            font-family: "Noto Sans", sans-serif;
            color: var(--background-third-color);

            &:last-of-type{
                margin-top: 40px;
            }
        }
    }

    .purpose__second-container{
        background-color: var(--background-secondary-color);
    }
}