.professionalism{
    display: grid;
    grid-template-columns: 1fr;
    background-color: var(--background-third-color);

    @media(min-width: 768px){
        grid-template-columns: repeat(2, 1fr);
    }

    .professionalism__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 90px 30px;
        max-width: 600px;
        margin: auto;

        @media(min-width: 768px){
            padding: 102.5px 30px 105px;
        }

        @media(min-width: 992px){
            padding: 115px 30px 120px;
        }
        
        .professionalism__number{
            font-size: 34px;
            color: var(--section-number-color);
            font-weight: 700;
            line-height: 1;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }
        }

        .professionalism__title{
            color: var(--title-color);
            font-size: 34px;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }

            .professionalism__slash{
                color: var(--accent-color);
            }

            .professionalism__dot{
                color: var(--background-secondary-color);
            }
        }

        .professionalism__subtitle{
            font-size: 18px;
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            color: var(--second-font-color);
        }

        .professionalism__description{
            font-size: 16px;
            font-family: "Noto Sans", sans-serif;
            color: var(--second-font-color);
            line-height: 1.7;
        }

        .professionalism__link-container{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 20px;

            .professionalism__link-vacancies{
                padding: 18px 30px;
                font-size: 15.4px;
                font-family: "Heebo", sans-serif;
                color: var(--font-color);
                background-color: var(--accent-color);
                font-weight: 700;
                transition: all .2s ease-in;

                &:hover{
                    background-color: var(--background-secondary-color);
                }
            }

            .professionalism__link-contacts{
                padding: 18px 30px;
                font-size: 15.4px;
                font-family: "Heebo", sans-serif;
                color: var(--background-secondary-color);
                border: 2px solid var(--background-secondary-color);
                font-weight: 700;
                transition: all .2s ease-in;

                &:hover{
                    background-color: var(--background-secondary-color);
                    color: var(--font-color);
                }
            }
        }
    }

    .professionalism__illustration-container{
        width: 100%;

        .professionalism__illustration{
            width: 100%;
            object-fit: cover;
            object-position: 20% 28%;
            aspect-ratio: 5 / 3;

            @media(min-width: 768px){
                aspect-ratio: none;
                height: 100%;
                object-position: 70% 50%;
            }
        }
    }
}