.video {
  background-color: var(--hover-color);
  height: 300px;
  width: 100%;

  @media(min-width: 768px){
    height: 550px;
  }

  @media(min-width: 992px){
    height: 800px;
  }

  .video__container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0.5;

    .video__video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      min-width: 160%;
      min-height: 134%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}
