.reviews {
    padding: 120px 0;
    background-color: var(--background-third-color);

    .reviews__container-outer {
        display: flex;
        flex-direction: column;
        gap: 60px;
        max-width: 1200px;
        margin: auto;

        .reviews__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .reviews__container-inner {
                display: grid;
                gap: 30px;

                .reviews__title {
                    font-size: 48px;
                    color: var(--title-color);

                    .reviews__slash {
                        color: var(--accent-color);
                    }

                    .reviews__dot {
                        color: var(--background-secondary-color);
                    }
                }

                .reviews__subtitle {
                    font: 500 18px/1.7 "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                }

                .reviews__number {
                    font: 700 48px/normal "Arimo", sans-serif;
                    color: var(--section-number-color);
                    text-align: right;
                }

                .reviews__calling {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font: 700 12px/1.7 "Noto Sans", sans-serif;
                    color: var(--title-color);
                    margin-top: 5px;
                }
            }
        }

        .reviews__articles{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;

            .reviews__container{
                gap: 20px;
                height: 370px;
                display: grid;
                grid-template-rows: 1fr 1fr 4fr 1fr;
                background-color: var(--background-fourth-color);
                width: 100%;
                padding: 40px;

                .reviews__quotes-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: var(--background-third-color);

                    .reviews__quotes{
                        top: 15px;
                        position: relative;
                        font-size: 60px;
                        font-weight: 700;
                        color: var(--accent-color);
                    }
                }

                .reviews__name{
                    font-size: 25px;
                    font-weight: 600;
                }

                .reviews__description{
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                    line-height: 1.7;
                }

                .reviews__date{
                    font-size: 14px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--background-secondary-color);
                    font-weight: 700;
                }
            }
        }
    }
}