.video {
  background-color: var(--hover-color);

  .video__container {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
    opacity: 0.5;

    .video__video {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
      min-width: 160%;
      min-height: 134%;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
    }
  }
}
