.purpose{
    display: grid;
    gap: 30px;
    padding: 30px 20px 0;
    max-width: 1200px;
    margin: auto;

    @media(min-width: 768px){
        grid-template-columns: repeat(2, 1fr);
        padding: 30px 30px 0;
    }

    @media(min-width: 992px){
        padding: 30px 40px 0;
    }

    @media(min-width: 1280px){
        padding: 30px 30px 0;
        max-width: 100%;
    }
    
    .purpose__container{
        background-color: var(--title-color);
        color: var(--font-color);
        padding: 50px;

        @media(min-width: 768px){
            padding: 60px;
        }

        @media(min-width: 992px){
            padding: 80px;
        }

        .purpose__title{
            font-size: 30px;

            @media(min-width: 768px){
                font-size: 34px;
            }

            @media(min-width: 992px){
                font-size: 38px;
            }
        }

        .purpose__description{
            font-size: 16px;
            font-family: "Noto Sans", sans-serif;
            color: var(--background-third-color);

            &:last-of-type{
                margin-top: 40px;
            }
        }
    }

    .purpose__second-container{
        background-color: var(--background-secondary-color);
    }
}