.company{
    padding: 90px 20px 60px;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    box-sizing: content-box;

    @media(min-width: 768px){
        padding: 105px 30px 60px;
        grid-template-columns: 1fr 1fr;
    }

    @media(min-width: 992px){
        padding: 120px 40px 60px;
    }

    .company__illustration-container{
        width: 100%;

        .company__illustration{
            aspect-ratio: 1.06 / 1;
            object-fit: cover;
            width: 100%;
            border: 10px solid var(--background-third-color);
        }
    }

    .company__content-container{
        display: grid;
        gap: 30px;

        .company__number{
            font-size: 34px;
            color: var(--number-color);
            font-weight: 600;
            height: fit-content;
            line-height: 1;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }
        }

        .company__title{
            line-height: 1.2;
            font-size: 34px;
            font-weight: 700;
            color: var(--title-color);
            height: fit-content;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }

            .company__slash{
                color: var(--accent-color);
            }

            .company__dot{
                color: var(--background-secondary-color);
            }
        }

        .company__subtitle{
            font-size: 18px;
            color: var(--second-font-color);
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
        }

        .company__paragraph{
            font-size: 16px;
            color: var(--second-font-color);
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
        }

        .company__list{
            font-size: 16px;
            color: var(--second-font-color);
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;

            .company__list-item{

                .company__span{
                    font-weight: 700;
                    color: var(--background-secondary-color);
                }
            }
        }
    }
}