.services{
    max-width: 1200px;
    margin: auto;
    display: grid;
    gap: 50px;
    padding: 60px 20px 90px;

    @media(min-width: 768px){
        padding: 60px 30px 102.5px;
    }

    @media(min-width: 992px){
        padding: 60px 40px 115px;
    }

    .services__header{
        display: grid;

        @media(min-width: 768px){
            grid-template-columns: 2fr 1fr;
        }

        .services__header-container{
            display: flex;
            flex-direction: column;
            gap: 20px;

            .services__title{
                font-size: 34px;
                color: var(--title-color);

                @media(min-width: 768px){
                    font-size: 41px;
                }

                @media(min-width: 992px){
                    font-size: 48px;
                }
                
                .services__slash{
                    color: var(--accent-color);
                }
                
                .services__dot{
                    color: var(--background-secondary-color);
                }
            }

            .services__subtitle{
                color: var(--second-font-color);
                font-size: 18px;
                font-family: "Noto Sans", sans-serif;
                font-weight: 500;
                padding-bottom: 40px;
            }

            .services__number{
                font-size: 34px;
                font-weight: 700;
                color: var(--section-number-color);
                line-height: 1.6;

                @media(min-width: 768px){
                    font-size: 41px;
                    text-align: right;
                }

                @media(min-width: 992px){
                    font-size: 48px;
                }
            }

            .services__wish{
                text-transform: uppercase;
                font-size: 12px;
                font-family: "Noto Sans", sans-serif;
                color: var(--title-color);
                letter-spacing: 1px;
                font-weight: 700;

                @media(min-width: 768px){
                    text-align: right;
                }
            }
        }
    }

    .services__outer-container{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        position: relative;

        .services__arrow-container{
            position: absolute;

            &:first-of-type{
                left: -20px;
                transform: rotate(180deg) scale(0.45);

                @media(min-width: 768px){
                    transform: scale(0.65) rotate(180deg);
                }
            }

            &:last-of-type{
                right: -20px;
                transform: scale(0.45);

                @media(min-width: 768px){
                    transform: scale(0.65);
                }
            }

            .services__arrow{
                height: 30px;
                width: 30px;
                background-color: var(--hover-color);
                fill: var(--secondary-arrow-color);
                padding: 10px;
                opacity: 0.8;
                box-sizing: content-box;
                border-radius: 100%;
                cursor: pointer;
            }
        }

        .services__content-container{
            display: grid;
            grid-template-columns: 1fr;

            @media(min-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media(min-width: 992px){
                grid-template-columns: repeat(3, 1fr);
            }

            .services__inner-container{
                display: grid;
                gap: 20px;
                padding: 10px 40px;

                &:nth-child(3){
                    display: none;

                    @media(min-width: 992px){
                        display: grid;
                    }
                }

                &:nth-child(2){
                    display: none;

                    @media(min-width: 768px){
                        display: grid;
                    }
                }

                .services__image-container{
                    
                    .services__image{
                        width: 50px;
                    }
                }

                .services__container-title{
                    font-size: 25px;
                    color: var(--title-color);
                    font-weight: 600;
                }

                .services__container-description{
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                }

                .services__link{
                    font-size: 12px;
                    font-family: "Noto Sans", sans-serif;
                    letter-spacing: 1px;
                    color: var(--title-color);
                    font-weight: 700;
                }
            }
        }
    }
}