.figures{
    background-color: var(--accent-color);
    color: var(--font-color);

    .figures__inner-container{
        max-width: 1200px;
        margin: auto;
        display: grid;
        padding: 30px 20px;
        gap: 50px 30px;
        

        @media(min-width: 480px){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @media(min-width: 768px){
            padding: 30px 30px;
            gap: 30px;
        }

        @media(min-width: 992px){
            padding: 30px 40px;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: 1fr;
        }

        @media(min-width: 1280px){
            padding: 30px 15px;
        }

        .figures__article{
            padding: 20px 30px;
            background-color: var( --background-fifth-color);

            .figures__number{
                font-size: 30px;
                font-weight: 700;
                margin-bottom: 20px;

                @media(min-width: 768px){
                    font-size: 34px;
                }

                @media(min-width: 992px){
                    font-size: 38px;
                }
            }

            .figures__description{
                font-size: 12px;
                font-family: "Noto Sans", sans-serif;
                font-weight: 700;
                text-transform: uppercase;
                letter-spacing: 1px;
            }
        }
    }
}