.team{
    max-width: 1200px;
    margin: auto;
    padding-bottom: 120px;

    .team__header{
        display: flex;
        flex-direction: column;
        align-items: center;

        .team__number{
            font-size: 48px;
            font-weight: 700;
            color: var(--number-color);
        }

        .team__title{
            font-size: 48px;

            .team__slash{
                color: var(--accent-color);
            }

            .team__dot{
                color: var(--background-secondary-color);
            }
        }

        .team__subtitle{
            font-family: "Noto Sans", sans-serif;
            font-size: 18px;
            color: var(--second-font-color);
            font-weight: 500;
            margin-top: 20px;
            margin-bottom: 60px;
        }
    }

    .team__content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 40px;

        .team__container{
            display: flex;
            gap: 20px;
            align-items: center;

            .team__photo{
                border-radius: 100%;
                max-width: 170px;
            }

            .team__text-container{
               
                .team__person{
                    font-size: 25px;
                    font-weight: 600;
                }

                .team__position{
                    font-size: 15px;
                    color: var(--accent-color);
                    font-weight: 600;
                }

                .team__description{
                    margin-top: 20px;
                    line-height: 1.7;
                    font-family: "Noto Sans", sans-serif;
                    font-size: 16px;
                    color: var(--second-font-color);
                }
            }
        }
    }
}