.reviews {
    padding: 90px 20px;
    background-color: var(--background-third-color);

    @media(min-width: 768px){
        pading: 102.5px 30px 105px;
    }

    @media(min-width: 992px){
        pading: 115px 40px 120px;
    }

    @media(min-width: 1280px){
        pading: 115px 15px 120px;
    }

    .reviews__container-outer {
        display: flex;
        flex-direction: column;
        gap: 60px;
        max-width: 1200px;
        margin: auto;

        .reviews__header {
            display: grid;
            gap: 50px;

            @media(min-width: 768px){
                grid-template-columns: 3fr 2fr;
                gap: 100px;
            }

            .reviews__container-inner {
                display: grid;
                gap: 30px;

                @media(min-width: 768px){
                    gap: 10px;
                }

                .reviews__title {
                    font-size: 34px;
                    color: var(--title-color);
                    line-height: 1.2;

                    @media(min-width: 768px){
                        font-size: 41px;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }

                    .reviews__slash {
                        color: var(--accent-color);
                    }

                    .reviews__dot {
                        color: var(--background-secondary-color);
                    }
                }

                .reviews__subtitle {
                    font: 500 18px/1.7 "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                }

                .reviews__number {
                    font: 700 34px/normal "Arimo", sans-serif;
                    color: var(--section-number-color);
                    text-align: left;
                    line-height: 1;

                    @media(min-width: 768px){
                        font-size: 41px;
                        text-align: right;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }
                }

                .reviews__calling {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font: 700 12px/1.7 "Noto Sans", sans-serif;
                    color: var(--title-color);

                    @media(min-width: 768px){
                        text-align: right;
                        margin-top: 5px;
                    }
                }
            }
        }

        .reviews__articles{
            display: grid;
            gap: 60px;

            @media(min-width: 768px){
                grid-template-columns: repeat(2, 1fr);
                gap: 30px;
            }

            @media(min-width: 992px){
                grid-template-columns: repeat(3, 1fr);
            }

            .reviews__container{
                gap: 20px;
                height: 370px;
                display: grid;
                grid-template-rows: 1fr 1fr 4fr 1fr;
                background-color: var(--background-fourth-color);
                width: 100%;
                padding: 30px;

                @media(min-width: 768px){
                    padding: 40px;
                }

                @media(min-width: 992px){
                    padding: 50px;
                }

                .reviews__quotes-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 50px;
                    height: 50px;
                    border-radius: 100%;
                    background-color: var(--background-third-color);

                    .reviews__quotes{
                        top: 15px;
                        position: relative;
                        font-size: 60px;
                        font-weight: 700;
                        color: var(--accent-color);
                    }
                }

                .reviews__name{
                    font-size: 22px;
                    font-weight: 600;

                    @media(min-width: 768px){
                        font-size: 23px;
                    }

                    @media(min-width: 992px){
                        font-size: 25px;
                    }
                }

                .reviews__description{
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                    line-height: 1.7;
                }

                .reviews__date{
                    font-size: 14px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--background-secondary-color);
                    font-weight: 700;
                }
            }
        }

        .reviews__sponsors-container{
            display: flex;
            align-items: center;

            .reviews__arrow-container{

                &:first-of-type{
                    transform: rotate(180deg);
                }
                
                .reviews__arrow{
                    height: 30px;
                    fill: var(--arrow-color);
                    cursor: pointer;
                }
            }

            .reviews__sponsors{
                display: grid;
                gap: 20px;
                align-items: center;

                @media(min-width: 480px){
                    grid-template-columns: repeat(2, 1fr);
                }

                @media(min-width: 768px){
                    grid-template-columns: repeat(3, 1fr);
                }

                @media(min-width: 992px){
                    grid-template-columns: repeat(5, 1fr);
                }

                .reviews__sponsor-container{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 125px;
                    width: 100%;
                    background-color: var(--background-fourth-color);

                    &:first-of-type{

                        .reviews__sponsor-logo{
                            width: 70%;
                        }
                    }

                    &:nth-of-type(2){
                        display: none;

                        @media(min-width: 480px){
                            display: flex;
                        }
                    }

                    &:nth-of-type(3){
                        display: none;

                        @media(min-width: 768px){
                            display: flex;
                        }
                    }

                    &:nth-of-type(4){
                        display: none;

                        @media(min-width: 992px){
                            display: flex;
                        }
                    }

                    &:nth-of-type(5){
                        display: none;

                        @media(min-width: 992px){
                            display: flex;
                        }
                    }

                    .reviews__sponsor-logo{
                        width: 100%;
                        height: auto;
                    }
                }
            }
        }
    }
}