.address{
    width: 100%;
    height: 1100px;

    @media(min-width: 992px){
        height: 760px;
    }

    .address__map-container{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;

        @media(min-width: 992px){
            justify-content: flex-end;
        }

        .address__map{
            height: 100%;
            width: 100%;
        }

        .address__address{
            background-color: var(--background-secondary-color);
            width: calc(100vw - 40px);
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--font-color);
            padding: 40px 20px;
            justify-content: space-between;
            margin: auto;
            gap: 10px;
            bottom: 100px;
            
            @media(min-width: 768px){
                width: 36%;
            }

            @media(min-width: 992px){
                width: 370px;
                bottom: auto;
                right: 10vw;
            }

            .address__subtitle{
                font-size: 22px;
                font-weight: 600;
                padding-top: 10px;
                text-align: center;

                @media(min-width: 768px){
                    font-size: 23px;
                }

                @media(min-width: 992px){
                    font-size: 25px;
                }
            }

            .address__description{
                font-size: 16px;
                font-family: "Noto Sans", sans-serif;
                text-align: center;
            }
        }
    }
}