.address{
    width: 100%;

    .address__map-container{
        position: relative;
        display: flex;
        align-items: center;

        .address__map{
            height: 760px;
            width: 100%;
        }

        .address__address{
            background-color: var(--background-secondary-color);
            height: 385px;
            width: 370px;
            position: absolute;
            left: calc(100vw - 760px);
            display: flex;
            flex-direction: column;
            align-items: center;
            color: var(--font-color);
            padding: 50px 0px;
            justify-content: space-between;

            .address__subtitle{
                font-size: 25px;
                font-weight: 600;
                padding-top: 10px;
            }

            .address__description{
                font-size: 16px;
                font-family: "Noto Sans", sans-serif;
            }
        }
    }
}