.footer{
    background-color: var(--title-color);

    .footer__inner-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 80px 20px 30px;

        @media(min-width: 768px) {
            text-align: start;
        }

        .footer__content{
            display: flex;
            flex-direction: column;
            gap: 30px;
            position: relative;
            padding-bottom: 65px;

            @media(min-width:768px) {
                display: grid;
                grid-template-columns: 5fr 7fr;
            }

            &::after{
                background-color: var(--footer-divider-color);
                content: "";
                height: 1px;
                width: 100%;
                position: absolute;
                bottom: 0px;
                
            }

            .footer__first-double-container{
                grid-template-columns: 3fr 2fr;
            }

            .footer__second-double-container{
                grid-template-columns: 3fr 4fr;
            }


            .footer__double-container{
                display: flex;
                flex-direction: column;
                gap: 30px;

                @media(min-width: 768px){
                    display: grid;
                }

                .footer__first-container{
                    justify-content: space-between;
                }

                .footer__container{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 20px;

                    @media(min-width: 768px){
                        align-items: flex-start;
                    }

                    .footer__form{
                        display: flex;
                        flex-direction: column;
                        height: 122px;
                        width: 100%;
                        justify-content: space-between;

                        .footer__input{
                            font-family: "Noto Sans", sans-serif;
                            color: var(--a-color);
                            font-weight: 550;
                            padding: 15px 26px;
                            background-color: var(--input-background-color);
                            width: 100%;
                            height: 50px;
                        }

                        .footer__button{
                            font-size: 14px;
                            font-weight: 700;
                            font-family: "Heebo", sans-serif;
                            height: 47px;
                            width: 100%;
                            color: var(--font-color);
                            background-color: var(--accent-color);
                            transition: all .2s ease-in;

                            &:hover{
                                background-color: var(--background-fourth-color);
                                color: var(--hover-color);
                            }
                        }
                    }

                    .footer__link-container{
                        display: flex;
                        flex-direction: column;
                        gap: 15px;

                        .footer__link{
                            font-family: "Noto Sans", sans-serif;
                            font-size: 16px;
                            color: var(--a-color);
                            font-weight: 500;

                            @media(min-width: 992px){
                                font-size: 15px;
                            }

                            &:hover{
                                color: var(--font-color);
                            }
                        }
                    }

                    .footer__title{
                        font-weight: 700;
                        font-size: 22px;
                        color: var( --font-color);

                        @media(min-width: 768px){
                            font-size: 23px;
                        }

                        @media(min-width: 992px){
                            font-size: 25px;
                        }
                    }

                    .footer__description{
                        font-size: 14px;
                        font-family: "Noto Sans", sans-serif;
                        color: var(--background-third-color);
                        line-height: 1.7;
                        margin-top: 30px;
                    }

                    .footer__sources-container{
                        display: flex;
                        justify-content: center;
                        gap: 15px;
                        margin: 30px 0 20px;

                        .footer__source{
                            width: 29px;
                            fill: var(--hover-color);

                            .footer__source-path{
                                fill: var(--background-secondary-color);
                                transition: all .1s ease-in;

                                &:hover{
                                    fill: #a697e3;
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    .footer__line{
                        margin: 15px 0;
                        height: 2px;
                        background-color: var(--line-secondary-color);

                        .footer__line-path{
                            
                        }
                    }

                    .footer__line-first{
                        width: 29%;
                    }

                    .footer__line-second{
                        width: 19%;
                    }

                    .footer__line-third{
                        width: 15%;
                    }
                }
            }
        }

        .footer__bottom{
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            justify-content: space-between;
            color: var(--a-color);
            font-family: "Noto Sans", sans-serif;
            font-size: 14px;
            font-weight: 500;
            margin-top: 20px;

            @media(min-width: 768px){
                flex-direction: row;
            }
        }
    }
}