@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Heebo:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas{
  display: block;
  height: auto;
}

button, input, textarea, select {
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
    --hover-color:#272727;
    --font-color:white;
    --accent-color:#b5b454;
    --first-background-color:#6a59aa;
    --background-secondary-color:#7361b9;
    --background-third-color:#f5f5f5;
    --section-number-color:#e0e0e0;
    --second-font-color:#777777;
    --background-fourth-color:white;
    --title-color:#272727;
    --secondary-section-number-color:#464646;
    --text-color:#f5f5f5c2;
    --arrow-color:#686868;
    --number-color:#e9e9e9;
    --line-color:#cccccc;
    --a-color:#ffffff6b;
    --line-secondary-color:#343434;
    --input-background-color:#2f2f2f;
    --footer-divider-color:#525252;
    font-family: "Arimo", sans-serif;

}
