.header-hero{
    background-color: var(--background-secondary-color);
    
    .header-hero__outer-margin{
        color: var(--font-color);
        align-items: center;
        display: flex;
        max-width: 1200px;
        margin: auto;
        padding-top: 80px;

        .header-hero__container{

            .header-hero__actions{
                margin-top: 40px;
                display: flex;

                .header-hero__button{
                    font-family: "Heebo", sans-serif;
                    font-weight: 700;

                }

                .header-hero__button--primary{
                    padding: 15px 30px;
                    background-color: var(--accent-color);
                    transition: .2s ease-in;


                    &:hover{
                        color:var(--hover-color);
                        background-color:var(--font-color);
                    }
                }

                .header-hero__button--secondary{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    padding-left: 20px;


                    &:hover{
                        text-decoration: underline;
                    }

                    .hero__button-text{
                        padding-left: 7px;
                    }
                }
            }

            .header-hero__description{
                margin-top: 35px;

                .header-hero__text{
                    line-height: 1.7;
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                }
            }

            .header-hero__content{

                .header-hero__title{
                    line-height: 1.1;
                    font-size: 25px;

                    .header-hero__highlight{
                        
                        font-size: 76px;

                        .header-hero__dot{
                            color: var(--accent-color);
                        }
                    }
                }
            }
            
        }

        .header-hero__image-wrapper{
            padding: 0 15px;
        }
    }

    .header-hero__intersection{
        background-color: var(--background-secondary-color);
        width: 100%;
        position: relative;
        top: 6px;
    }
}
