.nav {
  background-color: var(--first-background-color);

  .nav__outer-margin {
    height: 106px;
    max-width: 1200px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    color: var(--font-color);
    padding: 0 20px;

    .nav__brand {
      width: 288px;
      
      .nav__brand-link {
        font-size: 32px;
        font-weight: 650;

        @media(max-width: 768px) {
          font-size: 26px;
        }
      }
    }

    .nav__contact,
    .nav__menu {
      @media(max-width: 1024px) {
        display: none;
      }
    }

    .nav__contact {
      font-family: "Noto Sans", sans-serif;

      .nav__contact-email,
      .nav__contact-phone {
        text-decoration: underline;
        font-weight: 700;
        margin: 0 10px;
      }

      .nav__contact-separator {
        font-size: 16px;
        margin: 0 10px;
        color: var(--accent-color);
      }
    }

    .nav__menu {

      .nav__menu-link {
        padding: 0 9.5px;
        font-weight: 650;
        font-family: "Noto Sans", sans-serif;

        &:hover {
          color: var(--accent-color);
        }
      }
    }

    .nav__burger-menu {
      display: flex;
      flex-direction: column;
      gap: 5px;
      cursor: pointer;

      &:hover .nav__menu-line{
        background-color: var(--hover-secondary-color);
      }

      @media(min-width: 1025px){
        display: none;
      }

      .nav__menu-line{
        display: block;
        height: 2px;
        width: 24px;
        background-color: var(--background-fourth-color);
        transition: all .2s ease-in;
      }
    }
  }
}