.goal{
    padding: 100px 20px 100px;
    max-width: 1200px;
    margin: auto;

    .goal__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .goal__number{
            font-size: 34px;
            color: var(--number-color);
            font-weight: 700;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }
        }

        .goal__title{
            font-size: 34px;
            color: var(--title-color);
            text-align: center;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }

            .goal__title-decor{
                color: var(--accent-color);
            }

            .goal__title-dot{
                color: var(--background-secondary-color);
            }
        }

        .goal__subtitle{
            line-height: 1.7;
            color: var(--second-font-color);
            font-size: 18px;
            text-align: center;
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            margin-bottom: 40px;
        }
    }

    .goal__gallery{
        display: flex;
        flex-direction: row;
        /* grid-template-columns: 1fr 1fr 1fr; */
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .goal__gallery-row{
            display: grid;
            gap: 30px;
        

            .goal__gallery-item{

                .goal__image{
                    object-fit: cover;
                    width: 380px;

                }

                .goal__image--1{
                    height: 257px;
                }

                .goal__image--2{
                    height: 420px;
                }

                .goal__image--3{
                    height: 358px;
                }

                .goal__image--4{
                    height: 317px;
                }

                .goal__image--5{
                    height: 440px;
                }

                .goal__image--6{
                    height: 235px;
                }
            }
        }
    }
}