.contacts{
    background-color: var(--background-secondary-color);

    .contacts__container{
        padding: 40px 20px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        gap: 60px;


        @media(min-width: 768px){
            flex-direction: row;
            justify-content: space-between;
        }

        .contacts__title{
            font-size: 22px;
            font-weight: 600;
            color: var(--font-color);
            text-align: center;

            @media(min-width: 768px){
                font-size: 23px;
                text-align: start;
            }

            @media(min-width: 992px){
                font-size: 25px;
            }
        }

        .contacts__description{
            text-align: center;
            font-size: 16px;
            font-family: "Noto Sans", sans-serif;
            font-weight: 400;
            color: var(--font-color);

            @media(min-width: 768px){
                text-align: start;
            }

            .contacts__description-important{
                font-weight: 700;
            }

            .contacts__description-cursive{
                font-style: italic;
            }
        }

        .contacts__button{
            color: var(--hover-color);
            background-color: var(--background-fourth-color);
            padding: 15px 30px;
            font-size: 15.4px;
            font-family: "Heebo", sans-serif;
            font-weight: 700;
            transition: all 0.2s ease-in;

            @media(min-width: 768px){
                word-wrap: break-word;
                text-align: center;
                width: calc(100vw / 11);
            }

            @media(min-width: 1200px){
                width: auto;
            }

            &:hover{
                color: var(--font-color);
                background-color: var(--hover-color);
            }

            .contacts__button-text{
                font-size: 15.4px;
            }
        }
    }
}