.our-projects{
    max-width: 1200px;
    margin: auto;
    margin-top: 120px;

    .our-projects__header{
        display: flex;
        flex-direction: column;
        align-items: center;

        .our-projects__number{
            padding-bottom: 30px;
            font-weight: 650;
            font-size: 48px;
            color: var(--section-number-color);
            line-height: 1.1;
        }

        .our-projects__title{
            padding-bottom: 30px;
            line-height: 1.1;
            font-size: 48px;
            color:var(--hover-color);

            .our-projects__title-icon{
                color: var(--accent-color);
            }

            .our-projects__title-dot{
                color: var(--first-background-color);
            }
        }

        .our-projects__subtitle{
            font-family: "Noto Sans", sans-serif;
            font-size: 18px;
            color: var(--second-font-color);
            font-weight: 600;
            margin-bottom: 50px;
        }
    }

    .our-projects__carousel{
        display: flex;
        align-items: center;

        .our-projects__icon{
            cursor: pointer;
            width: 30px;
            height: 30px;

            &:first-child{
                transform: rotate(180deg);
            }

        }

        .our-projects__list{
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr 1fr 1fr;

            .our-projects__item{
                display: grid;
                gap: 20px;
                margin: 0 10px;

                .our-projects__image{
                    object-fit: cover;  
                    height: 240px;  
                    width: 100%;
                }

                .our-projects__category{
                    letter-spacing: 1px;
                    font-weight: 700;
                    font-family: "Noto Sans", sans-serif;
                    font-size: 12px;
                    color: var(--background-secondary-color);
                }

                .our-projects__item-title{
                    font-weight: 600;
                    color:var(--hover-color);
                    font-size: 25px;
                }

                .our-projects__description{
                    font-family: "Noto Sans", sans-serif;
                    font-size: 16px;
                    color: var(--second-font-color);
                }

                .our-projects__link{
                    margin-top: 15px;
                    width: fit-content;
                    padding: 12px 25px;
                    font-weight: 700;
                    font-family: "Heebo", sans-serif;
                    font-size: 14px;
                    color: var(--font-color);
                    background-color: var(--accent-color);
                    transition: all .2s ease-in;

                    &:hover{
                        background-color: var(--first-background-color);
                    }
                }
            }
        }
    }
}