.steps{
    background-color: var(--background-third-color);
    padding-top: 100px;

    .steps__container-inner{
        margin: auto;
        max-width: 1200px;

        .steps__header{
            margin-bottom: 50px;
            display: flex;
            align-items: center;

            .steps__title-container{
                display: grid;
                gap: 15px;

                .steps__number{
                    color: var(--section-number-color);
                    font-size: 48px;
                    font-weight: 700;
                }

                .steps__title{
                    font-size: 48px;
                    font-weight: 700;

                    .steps__slash{
                        color: var(--accent-color);
                    }

                    .steps__dot{
                        color: var(--first-background-color);
                    }
                }

                .steps__subtitle{
                    font-family: "Noto Sans", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--second-font-color);
                }
            }

            .steps__link-container{
                margin-left: 200px;
                margin-top: 50px;
                display: flex;
                align-items: center;

                .steps__avatar{
                    border-radius: 100%;
                    width: 120px;
                    margin-right: 10px;
                }

                .steps__text-container{

                    .steps__link-title{
                        font-size: 25px;
                        font-weight: 600;
                        margin-bottom: 20px;
                    }

                    .steps__link-text{
                        font-family: "Noto Sans", sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--second-font-color);
                        margin-bottom: 5px;
                    }

                    .steps__link-email{
                        font-size: 13px;
                        font-family: "Noto Sans", sans-serif;
                        color: var(--second-font-color);
                        font-weight: 500;

                        .steps__link{
                            color: var(--background-secondary-color);
                            font-weight: 700;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .steps__articles{
            margin-bottom: 50px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 30px;

            .steps__item{
                display: grid;
                gap: 20px;

                .steps__image{
                    width: 100%;
                    height: 231px;
                }

                .steps__item-title{
                    font-size: 25px;
                    font-weight: 600;
                    color: var(--title-color);
                }

                .steps__item-text{
                    line-height: 1.7;
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                    font-weight: 400;
                }
            }
        }

        .steps__partners{
            width: 100%;
            padding-top: 30px;
            padding-bottom: 120px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            align-items: center;
            gap: 30px;

            .steps__arrow{

                .steps__arrow-icon{
                    color: var(--arrow-color);
                    width: 30px;
                    cursor: pointer;

                    &:hover{
                        color: var(--hover-color);
                    }
                }
            }

            .steps__arrow--left{
                transform: rotate(180deg);
            }

            .steps__partners-list{
                display: grid;
                gap: 30px;
                grid-template-columns: repeat(5, 1fr);

                .steps__partner{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 194px;
                    height: 120px;
                    background-color: var(--background-fourth-color);

                    .steps__partner-img{
                        width: 164px;

                    }

                    .steps__partner-greenstream{
                        width: 100px;
                    }
                }
            }
        }
    }
}
