.header-hero{
    background-color: var(--background-secondary-color);
    
    .header-hero__outer-margin{
        color: var(--font-color);
        display: grid;
        max-width: 1200px;
        margin: auto;
        padding: 80px 20px 40px;

        @media(min-width: 768px){
            grid-template-columns: 1fr 2fr;
        }

        .header-hero__container{
            display: flex;
            flex-direction: column;
            justify-content: center;

            .header-hero__actions{
                margin-top: 40px;
                display: flex;
                flex-wrap: wrap;

                .header-hero__button{
                    font-family: "Heebo", sans-serif;
                    font-weight: 700;
                    padding: 15px 30px;

                }

                .header-hero__button--primary{
                    background-color: var(--accent-color);
                    transition: .2s ease-in;


                    &:hover{
                        color:var(--hover-color);
                        background-color:var(--font-color);
                    }
                }

                .header-hero__button--secondary{
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    position: relative;
                    right: 30px;

                    &:hover{
                        text-decoration: underline;
                    }

                    @media(min-width: 410px){
                        right: 0;
                    }

                    .hero__button-text{
                        padding-left: 7px;
                    }
                }
            }

            .header-hero__description{
                margin-top: 35px;

                .header-hero__text{
                    line-height: 1.7;
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                }
            }

            .header-hero__content{

                .header-hero__title{
                    line-height: 1.1;
                    font-size: 22px;

                    @media(min-width: 768px){
                        font-size: 23px;
                    }

                    @media(min-width: 992px){
                        font-size: 25px;
                    }

                    .header-hero__highlight{
                        font-size: 44px;
                        
                        @media(min-width: 992px){
                            font-size: 65px;
                        }

                        @media(min-width: 992px){
                            font-size: 76px;
                        }

                        .header-hero__dot{
                            color: var(--accent-color);
                        }
                    }
                }
            }
            
        }

        .header-hero__image-wrapper{
            display: flex;
            margin-top: 50px;

            @media(min-width: 768px){
                padding: 0 15px;
                margin-top: 0;
            }

            .header-hero__image{
                width: 100%;
                object-fit: contain;
            }
        }
    }

    .header-hero__intersection{
        background-color: var(--background-secondary-color);
        width: 100%;
        position: relative;
        top: 6px;
    }
}
