.steps{
    background-color: var(--background-third-color);

    .steps__container-inner{
        margin: auto;
        max-width: 1200px;
        padding: 100px 20px 120px;

        .steps__header{
            margin-bottom: 50px;
            display: flex;
            align-items: center;
            flex-direction: column;
            
            @media(min-width: 768px){
                flex-direction: row;
                justify-content: space-between;
            }

            .steps__title-container{
                display: grid;
                gap: 15px;

                .steps__number{
                    color: var(--section-number-color);
                    font-size: 34px;
                    font-weight: 700;

                    @media(min-width: 768px){
                        font-size: 41px;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }
                }

                .steps__title{
                    font-size: 34px;
                    font-weight: 700;
                    color: var(--hover-color);

                    @media(min-width: 768px){
                        font-size: 41px;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }

                    .steps__slash{
                        color: var(--accent-color);
                    }

                    .steps__dot{
                        color: var(--first-background-color);
                    }
                }

                .steps__subtitle{
                    font-family: "Noto Sans", sans-serif;
                    font-size: 18px;
                    font-weight: 500;
                    color: var(--second-font-color);
                }
            }

            .steps__link-container{
                margin-top: 50px;
                display: flex;

                .steps__avatar{
                    border-radius: 100%;
                    width: 70px;
                    height: 70px;
                    margin-right: 10px;

                    @media(min-width: 768px){
                        width: 120px;
                        height: 120px;
                    }
                }

                .steps__text-container{

                    .steps__link-title{
                        font-size: 22px;
                        font-weight: 600;
                        margin-bottom: 20px;
                        color: var(--hover-color);

                        @media(min-width: 768px){
                            font-size: 23px;
                        }

                        @media(min-width: 992px){
                            font-size: 25px;
                        }
                    }

                    .steps__link-text{
                        font-family: "Noto Sans", sans-serif;
                        font-size: 16px;
                        font-weight: 500;
                        color: var(--second-font-color);
                        margin-bottom: 5px;
                    }

                    .steps__link-email{
                        font-size: 13px;
                        font-family: "Noto Sans", sans-serif;
                        color: var(--second-font-color);
                        font-weight: 500;

                        .steps__link{
                            color: var(--background-secondary-color);
                            font-weight: 700;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .steps__articles{
            margin-bottom: 50px;
            display: grid;
            gap: 30px;

            @media(min-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media(min-width: 992px){
                grid-template-columns: repeat(3, 1fr);
            }

            .steps__item{
                display: grid;
                gap: 20px;

                .steps__image{
                    width: 100%;
                    aspect-ratio: 20 / 13;
                    object-fit: cover;
                }

                .steps__item-title{
                    font-size: 22px;
                    font-weight: 600;
                    color: var(--title-color);

                    @media(min-width: 768px){
                        font-size: 23px;
                    }

                    @media(min-width: 992px){
                        font-size: 25px;
                    }
                }

                .steps__item-text{
                    line-height: 1.7;
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                    font-weight: 400;
                }
            }
        }

        .steps__partners{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .steps__arrow{
                position: absolute;
                display: flex;
                align-items: center;
                
                &:first-of-type{
                    transform: scale(0.6) rotate(180deg);
                    left: -20px;

                    @media(min-width: 768px){
                        transform: scale(0.7) rotate(180deg);
                    }
                }

                &:last-of-type{
                    transform: scale(0.6);
                    right: -20px;

                    @media(min-width: 768px){
                        transform: scale(0.7);
                    }
                }

                .steps__arrow-icon{
                    cursor: pointer;
                    width: 30px;
                    height: 30px;
                    background-color: var(--hover-color);
                    fill: var(--secondary-arrow-color);
                    padding: 10px;
                    opacity: 0.8;
                    box-sizing: content-box;
                    border-radius: 100%;
                    cursor: pointer;
                }
            }

            .steps__partners-list{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                gap: 30px;

                .steps__partner{
                    aspect-ratio: 2 / 1.2;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 90%;
                    height: 100%;
                    background-color: var(--background-fourth-color);

                    &:nth-of-type(2){
                        display: none;

                        @media(min-width: 479px){
                            display: flex;
                        }
                    }

                    &:nth-of-type(3){
                        display: none;

                        @media(min-width: 768px){
                            display: flex;
                        }
                    }

                    &:nth-of-type(4){
                        display: none;

                        @media(min-width: 992px){
                            display: flex;
                        }
                    }

                    &:last-of-type{
                        display: none;

                        @media(min-width: 992px){
                            display: flex;
                        }
                    }

                    .steps__partner-img{
                        width: 80%;

                    }

                    .steps__partner-greenstream{
                        width: 50%;
                    }
                }
            }
        }
    }

    .steps__footer{
        background-color: var(--title-color);

        .steps__img-container{
            height: 260px;
            width: 100%;
            overflow: hidden;

            @media(min-width: 768px){
                height: 620px;
            }

            @media(min-width: 992px){
                height: 740px;
            }

            .steps__background-picture{
                width: 100%;
                height: 100%;
                object-fit: cover;
                transform: scale(1.8);
                object-position: 60% bottom;

                @media(min-width: 768px){
                    transform: scale(1.2);
                    object-position: 60% 70%;
                }
            }
        }

        .steps__footer-container{
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: 50px;
            padding: 30px 20px;
            align-items: flex-end;
            
            @media(min-width: 768px){
                align-items: center;
                flex-direction: row;
                justify-content: space-between;
                gap: 30px;
            }

            .steps__footer-subtitle{
                font-size: 30px;
                color: var(--font-color);
                width: 100%;
                text-align: start;


                @media(min-width: 768px){
                    width: fit-content;
                    font-size: 34px;
                }

                @media(min-width: 992px){
                    font-size: 38px;
                }
            }

            .steps__footer-dot{
                color: var(--background-secondary-color);
            }
        }

        .steps__footer-text{
            width: 100%;
            text-align: center;
            font-size: 16px;
            font-family: "Noto Sans", sans-serif;
            color: var(--background-third-color);

            @media(min-width: 768px){
                width: fit-content;
            }
        }

        .steps__footer-button{
            width: fit-content;
            background-color: var(--accent-color);
            padding: 15px 30px;
            color: var(--font-color);
            font-size: 15.4px;
            font-family: "Heebo", sans-serif;
            font-weight: 700;
            transition: all .2s ease-in;
            text-align: center;

            &:hover{
                background-color: var(--font-color);
                color: var(--hover-color);
            }        
        }  
    }
}
