.printing-services{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 60px 0 90px;
    background-color: var(--hover-color);

    @media(min-width: 768px){
        grid-template-columns: 1fr 1fr;
    }

    .printing-services__image-wrapper{
        aspect-ratio: 5 / 3;
        max-width: 100vw;

        @media(min-width: 768px){
            width: 50vw;
            height: 100%;
        }
        
        .printing-services__image{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: 50% 17%;
        }
    }

    .printing-services__content{
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        padding: 90px 30px;
        max-width: 600px;

        @media(min-width: 1200px){
            margin: auto;
        }

        @media(min-width: 768px){
            padding: 105px 30px;
        }

        @media(min-width: 992px){
            padding: 120px 30px;
        }

        .printing-services__number{
            font-weight: 700;
            font-size: 34px;
            color: var(--secondary-section-number-color);

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }
                }

        .printing-services__title{
            line-height: 1.2;
            font-size: 34px;
            color:var(--font-color);

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }

            .printing-services__title-slash{
                color: var(--background-secondary-color);
            }
            .printing-services__title-dot{
                color: var(--accent-color);
            }
        }

        .printing-services__subtitle{
            font-family: "Noto Sans", sans-serif;
            font-size: 18px;
            color: var(--font-color);
            font-weight: 550;
        }

        .printing-services__text{
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            color: var(--text-color);
        }

        .printing-services__list{
            display: flex;
            flex-wrap: wrap;
            gap: 15px;

            .printing-services__item{
                display: flex;
                gap: 10px;

                .printing-services__icon{
                    width: 20px;
                    height: 24px;
                    color: var(--font-color);
                }

                .printing-services__service{
                    color: var(--font-color);
                    font-family: "Noto Sans", sans-serif;
                    font-size: 14px;
                }
            }
        }

        .printing-services__link{
            height: fit-content;
            width: fit-content;
            display: inline-block;
            font-family: "Heebo", sans-serif;
            font-size: 15.4px;
            color: var(--font-color);
            font-weight: 700;
            padding: 15px 30px;
            background-color: var(--accent-color);
            transition: all .2s ease-in;

            @media(min-width: 768px){
                margin-top: 40px;
            }

            @media(min-width: 992px){
                margin-top: 50px;
            }

            &:hover{
                color: var(--hover-color);
                background-color: var(--font-color);
            }
        }
    }
}