.goal{
    padding: 100px 20px 100px;
    max-width: 1200px;
    margin: auto;

    .goal__header{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;

        .goal__number{
            font-size: 34px;
            color: var(--number-color);
            font-weight: 700;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }
        }

        .goal__title{
            font-size: 34px;
            color: var(--title-color);
            text-align: center;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }

            .goal__title-decor{
                color: var(--accent-color);
            }

            .goal__title-dot{
                color: var(--background-secondary-color);
            }
        }

        .goal__subtitle{
            line-height: 1.7;
            color: var(--second-font-color);
            font-size: 18px;
            text-align: center;
            font-family: "Noto Sans", sans-serif;
            font-weight: 500;
            margin-bottom: 40px;
        }
    }

    .goal__gallery{
            
    }

    .goal__gallery-3by2{
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        @media(min-width: 992px){
            display: grid;
        }

        .goal__gallery-row{
            display: grid;
            width: 100%;
            gap: 30px;

            .goal__gallery-item{
                width: 100%;

                .goal__image{
                    width: 100%;
                    object-fit: cover;
                }

                .goal__image--1, .goal__image--6{
                    aspect-ratio: 7 / 5;
                }

                .goal__image--2, .goal__image--5{
                    aspect-ratio: 7 / 8;
                }

                .goal__image--2{
                    object-position: 90% 90%;
                }

                .goal__image--3{
                    aspect-ratio: 1 / 1;
                    object-position: 15% 50%;
                }

                .goal__image--4{
                    aspect-ratio: 7 / 6;
                }
            }
        }
    }

    .goal__gallery-2by3{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;

        @media(min-width: 480px){
            gap: 30px;
        }

        @media(min-width: 992px){
            display: none;
        }

        .goal__gallery-row{
            display: grid;
            width: 100%;
            gap: 15px;

            @media(min-width: 480px){
                gap: 30px;
            }

            .goal__gallery-item{
                width: 100%;

                .goal__image{
                    width: 100%;
                    object-fit: cover;
                }

                .goal__image--1, .goal__image--6{
                    aspect-ratio: 3 / 2;
                }

                .goal__image--2, .goal__image--5{
                    aspect-ratio: 4 / 5;
                }

                .goal__image--5{
                    object-position: 90% 90%;
                }

                .goal__image--3, .goal__image--4{
                    aspect-ratio: 1 / 1;
                }
            }
        }
    }
}