.our-news-articles{
    background-color: var(--background-third-color);
    box-sizing: content-box;

    .our-news-articles__container{
        margin: auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        padding: 90px 20px;

        @media(min-width: 768px){
            flex-direction: row;
            padding: 105px 20px 95px;
        }

        @media(min-width: 992px){
            padding: 120px 20px 100px;
        }

        .our-news-articles__content{

            .our-news-articles__header{

                .our-news-articles__number{
                    font-size: 34px;
                    color: var(--section-number-color);
                    font-weight: 700;

                    @media(min-width: 768px){
                        font-size: 41px;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }
                }

                .our-news-articles__title{
                    margin-top: 10px;
                    margin-bottom: 25px;
                    font-size: 34px;
                    color: var(--title-color);

                    @media(min-width: 768px){
                        font-size: 41px;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }

                    .our-news-articles__title-decor{
                        color: var(--accent-color);
                    }

                    .our-news-articles__title-dot{
                        color: var(--background-secondary-color);
                    }
                }

                .our-news-articles__subtitle{
                    color: var(--second-font-color);
                    font-size: 18px;
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 500;
                    margin-bottom: 50px;
                }
            }

            .our-news-articles__main-article{
                padding-bottom: 15px;

                .our-news-articles__author{
                    font-size: 13px;
                    color: var(--background-secondary-color);
                    font-weight: 700;
                }

                .our-news-articles__article-title{
                    font-size: 22px;
                    color: var(--title-color);
                    font-weight: 600;
                    margin-top: 10px;

                    @media(min-width: 768px){
                        font-size: 23px;
                    }

                    @media(min-width: 992px){
                        font-size: 25px;
                    }
                }

                .our-news-articles__article-text{
                    color: var(--second-font-color);
                    font-size: 16px;
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 400;
                    line-height: 1.7;
                    margin-bottom: 30px;
                }

                .our-news-articles__read-more{
                    font-size: 12px;
                    color: var(--title-color);
                    font-family: "Noto Sans", sans-serif;
                    font-weight: 700;
                    cursor: pointer;

                    .our-news-articles__arrow{
                        color: var(--accent-color);
                    }
                }
            }

            .our-news-articles__line{
                height: 1px;
                color: var(--line-color);
            }

            .our-news-articles__secondary-article{
                padding-top: 40px;
                display: flex;
                gap: 10px;

                .our-news-articles__image-wrapper{

                    .our-news-articles__image{
                        border-radius: 100%;
                        width: 70px;

                        @media(min-width: 768px){
                            width: 120px;
                        }
                    }
                }

                .our-news-articles__secondary-content{

                    .our-news-articles__secondary-title{
                        font-size: 22px;
                        color: var(--title-color);
                        font-weight: 600;
                        margin-bottom: 5px;

                        @media(min-width: 768px){
                            font-size: 23px;
                        }

                        @media(min-width: 992px){
                            font-size: 25px;
                        }
                    }

                    .our-news-articles__secondary-text{
                        color: var(--second-font-color);
                        font-size: 16px;
                        font-family: "Noto Sans", sans-serif;
                        font-weight: 400;
                        line-height: 1.7;
                        margin-bottom: 30px;
                    }

                    .our-news-articles__read-more{
                        font-size: 12px;
                        color: var(--title-color);
                        font-family: "Noto Sans", sans-serif;
                        font-weight: 700;
                        cursor: pointer;

                        .our-news-articles__arrow{
                            color: var(--accent-color);
                        }
                    }
                }
            }
        }

        .our-news-articles__side-image-wrapper{
            @media(min-width: 768px){
                max-width: 37%;
            }

            .our-news-articles__side-image{
                border: 10px solid white;
                width: 100%;
                object-fit: cover;
                height: auto;

                @media(min-width: 1200px){
                    height: 100%;
                }
            }
        }
    }
}