.our-projects{
    max-width: 1200px;
    margin: auto;
    padding: 60px 20px 90px;

    @media(min-width: 768px){
        padding: 60px 20px 105px;
    }

    @media(min-width: 992px){
        padding: 60px 20px 120px;
    }

    .our-projects__header{
        display: flex;
        flex-direction: column;
        align-items: center;

        .our-projects__number{
            padding-bottom: 30px;
            font-weight: 650;
            font-size: 34px;
            color: var(--section-number-color);
            line-height: 1.1;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }
        }

        .our-projects__title{
            padding-bottom: 30px;
            line-height: 1.1;
            font-size: 34px;
            color: var(--hover-color);
            text-align: center;

            @media(min-width: 768px){
                font-size: 41px;
            }

            @media(min-width: 992px){
                font-size: 48px;
            }

            .our-projects__title-icon{
                color: var(--accent-color);
            }

            .our-projects__title-dot{
                color: var(--first-background-color);
            }
        }

        .our-projects__subtitle{
            font-family: "Noto Sans", sans-serif;
            font-size: 18px;
            color: var(--second-font-color);
            font-weight: 600;
            margin-bottom: 50px;
            text-align: center;
        }
    }

    .our-projects__carousel{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .our-projects__icon{
            cursor: pointer;
            width: 30px;
            height: 30px;
            position: absolute;
            background-color: var(--hover-color);
            fill: var(--secondary-arrow-color);
            padding: 10px;
            opacity: 0.8;
            box-sizing: content-box;
            border-radius: 100%;
            cursor: pointer;

            @media(min-width: 1200px){
                padding: 0;
                background: none;
                fill: var(--arrow-color);
                opacity: 1;
            }

            &:first-of-type{
                left: -20px;
                transform: rotate(180deg) scale(0.6);;

                @media(min-width: 768px){
                    transform: scale(0.7) rotate(180deg);
                }

                @media(min-width: 992px){
                    transform: rotate(180deg);
                }

                @media(min-width: 1200px){
                    left: -30px;
                }
            }

            &:last-of-type{
                right: -20px;
                transform: scale(0.6);

                @media(min-width: 768px){
                    transform: scale(0.7);
                }

                @media(min-width: 992px){
                    transform: scale(1);
                }

                @media(min-width: 1200px){
                    right: -30px;
                }
            }
        }

        .our-projects__list{
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr;

            @media(min-width: 768px){
                grid-template-columns: repeat(2, 1fr);
            }

            @media(min-width: 992px){
                grid-template-columns: repeat(3, 1fr);
            }

            .our-projects__item{
                display: grid;
                gap: 20px;

                &:nth-of-type(2){
                    display: none;

                    @media(min-width: 768px){
                        display: grid;
                    }
                }

                &:last-of-type{
                    display: none;

                    @media(min-width: 992px){
                        display: grid;
                    }
                }

                .our-projects__image{
                    object-fit: cover;
                    width: 100%;  
                    aspect-ratio: 3 / 2;
                }

                .our-projects__category{
                    letter-spacing: 1px;
                    font-weight: 700;
                    font-family: "Noto Sans", sans-serif;
                    font-size: 12px;
                    color: var(--background-secondary-color);
                }

                .our-projects__item-title{
                    font-weight: 600;
                    color:var(--hover-color);
                    font-size: 22px;

                    @media(min-width: 768px){
                        font-size: 23px;
                    }

                    @media(min-width: 992px){
                        font-size: 25px;
                    }
                }

                .our-projects__description{
                    font-family: "Noto Sans", sans-serif;
                    font-size: 16px;
                    color: var(--second-font-color);
                }

                .our-projects__link{
                    margin-top: 15px;
                    width: fit-content;
                    padding: 12px 25px;
                    font-weight: 700;
                    font-family: "Heebo", sans-serif;
                    font-size: 14px;
                    color: var(--font-color);
                    background-color: var(--accent-color);
                    transition: all .2s ease-in;

                    &:hover{
                        background-color: var(--first-background-color);
                    }
                }
            }
        }
    }
}