.services{
    background-color: var(--background-third-color);
    padding: 90px 20px 60px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(min-width: 768px){
        padding: 105px 30px 60px;
    }

    @media(min-width: 992px){
        padding: 120px 40px 60px;
    }

    @media(min-width: 1280px){
        padding: 120px 15px 60px;
    }

    .services__list{
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px 30px;

        @media(min-width: 480px){
            grid-template-columns: 1fr 1fr;
        }

        @media(min-width: 768px){
            gap: 30px;
        }

        @media(min-width: 992px){
            grid-template-columns: 1fr 1fr 1fr;
        }

        .services__item{
            padding: 30px;
            display: grid;
            gap: 20px;
            background-color: var(--background-fourth-color);

            @media(min-width: 992px){
                padding: 40px;
            }

            .services__icon{
                width: 50px;
            }
        }

        .services__item-title{
            color:var(--title-color);
            font-size: 22px;
            font-weight: 600;

            @media(min-width: 768px){
                font-size: 23px;
            }

            @media(min-width: 992px){
                font-size: 25px;
            }
        }

        .services__item-description{
            line-height: 1.7;
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            color: var(--second-font-color);
        }

        .services__link{
            font-family: "Noto Sans", sans-serif;
            font-size: 12px;
            font-weight: 700;
            color: var(--title-color);
            letter-spacing: 1px;
        }
    }
}