.contacts{
    background-color: var(--background-third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 120px;

    .contacts__paragraph{
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
    }

    .contacts__button{
        background-color: var(--background-secondary-color);
        padding: 15px 25px;
        margin-top: 50px;
        color: var(--font-color);
        font-size: 15.4px;
        font-family: "Heebo", sans-serif;
        font-weight: 700;
        transition: all 0.2s ease-in;

        &:hover{
            background-color: var(--accent-color);
        }
    }
}