.contacts{
    background-color: var(--background-third-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px 20px 90px;

    @media(min-width: 768px){
        padding: 60px 30px 105px;
    }

    @media(min-width: 992px){
        padding: 60px 40px 120px;
    }

    @media(min-width: 1280px){
        padding: 60px 15px 120px;
    }

    .contacts__paragraph{
        font-size: 34px;
        font-weight: 700;
        line-height: 1.2;
        text-align: center;

        @media(min-width: 768px){
            font-size: 41px;
        }

        @media(min-width: 992px){
            font-size: 48px;
        }
    }

    .contacts__button{
        background-color: var(--background-secondary-color);
        padding: 15px 25px;
        margin-top: 50px;
        color: var(--font-color);
        font-size: 15.4px;
        font-family: "Heebo", sans-serif;
        font-weight: 700;
        transition: all 0.2s ease-in;

        &:hover{
            background-color: var(--accent-color);
        }
    }
}