.services{
    background-color: var(--background-third-color);
    padding-top: 120px;
    padding-bottom: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .services__list{
        max-width: 1200px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 30px;

        .services__item{
            padding: 40px;
            display: grid;
            gap: 20px;
            background-color: var(--background-fourth-color);

            .services__icon{
                width: 50px;
            }
        }

        .services__item-title{
            color:var(--title-color);
            font-size: 25px;
            font-weight: 600;
        }

        .services__item-description{
            line-height: 1.7;
            font-family: "Noto Sans", sans-serif;
            font-size: 16px;
            color: var(--second-font-color);
        }

        .services__link{
            font-family: "Noto Sans", sans-serif;
            font-size: 12px;
            font-weight: 700;
            color: var(--title-color);
            letter-spacing: 1px;
        }
    }
}