.project{
    background-color: var(--background-third-color);
    padding: 60px 20px 90px;

    @media(min-width: 768px){
        padding: 105px 30px;
    }

    @media(min-width: 992px){
        padding: 120px 40px;
    }

    @media(min-width: 1280px){
        padding: 120px 15px;
    }

    .project__outer-container{
        max-width: 1200px;
        margin: auto;

        .project__container-header{
            display: flex;
            flex-direction: column;
            gap: 50px;

            @media(min-width: 768px){
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 30px;
            }

            .project__inner-container{
                display: flex;
                flex-direction: column;
                gap: 30px;

                @media(min-width: 768px){
                    gap: 20px;
                    justify-content: center;
                }

                .project__title{
                    font-size: 34px;
                    line-height: 1.2;

                    @media(min-width: 768px){
                    font-size: 41px;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }

                    .project__slash{
                        color: var(--accent-color);
                    }

                    .project__dot{
                        color: var(--background-secondary-color);
                    }
                }

                .project__number{
                    font-size: 34px;
                    color: var(--section-number-color);
                    font-weight: 700;

                    @media(min-width: 768px){
                        font-size: 41px;
                        text-align: end;
                    }

                    @media(min-width: 992px){
                        font-size: 48px;
                    }
                }

                .project__subtitle{
                    font-size: 18px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--second-font-color);
                    font-weight: 500;
                }

                .project__request{
                    font-size: 12px;
                    font-family: "Noto Sans", sans-serif;
                    color: var(--background-secondary-color);
                    text-decoration: underline;
                    text-transform: uppercase;
                    font-weight: 700;
                    letter-spacing: 1px;

                    @media(min-width: 768px){
                        text-align: end;
                    }
                }
            }
        }

        .project__container{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 50px;

            .project__arrow-container{
                width: 30px;
                height: 30px;

                .project__arrow{
                    fill: var(--arrow-color);
                    transition: all 0.2s ease-in;

                    &:hover{
                        fill: var(--hover-color);
                    }
                }
            }

            .project__arrow-container-first{
                transform: rotate(180deg);
            }

            .project__container-articles{
                width: 100%;
                display: grid;
                gap: 30px;

                @media(min-width: 768px){
                    grid-template-columns: 1fr 1fr;
                }

                @media(min-width: 992px){
                    grid-template-columns: 1fr 1fr 1fr;
                }

                .project__article{

                    &:nth-of-type(2){
                        display: none;

                        @media(min-width: 768px){
                            display: block;
                        }
                    }

                    &:nth-of-type(3){
                        display: none;

                         @media(min-width: 992px){
                            display: block;
                        }
                    }

                    .project__illustration{
                        width: 100%;
                        aspect-ratio: 1.5 / 1;
                        object-fit: cover;
                    }

                    .project__text{
                        color: var(--accent-color);
                        font-size: 12px;
                        font-weight: 700;
                        font-family: "Noto Sans", sans-serif;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        padding-top: 20px;
                        padding-bottom: 30px;
                    }

                    .project__article-title{
                        font-size: 22px;
                        font-weight: 600;
                        color: var(--hover-color);

                        @media(min-width: 768px){
                            font-size: 23px;
                        }

                        @media(min-width: 992px){
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}