.guidance{

    .guidance__outer-container{
        padding: 90px 20px;
        display: grid;
        max-width: 1200px;
        gap: 50px;
        margin: auto;

        @media(min-width: 768px){
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            padding: 105px 30px;
        }

        @media(min-width: 992px){
            padding: 120px 40px;
        }

        @media(min-width: 1280px){
            padding: 120px 15px;
        }

        .guidance__container{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 20px;

            .guidance__image{
                aspect-ratio: 1 / 1;
                width: 100%;
                object-fit: cover;
                border: 10px solid var(--background-third-color);
            }

            .guidance__number{
                font-size: 34px;
                color: var(--section-number-color);
                font-weight: 700;

                @media(min-width: 768px){
                    font-size: 41px;
                }

                @media(min-width: 992px){
                    font-size: 48px;
                }
            }

            .guidance__title{
                font-size: 34px;
                color: var(--hover-color);
                font-weight: 700;
                line-height: 1.2;

                @media(min-width: 768px){
                    font-size: 41px;
                }

                @media(min-width: 992px){
                    font-size: 48px;
                }

                .guidance__slash{
                    color: var(--accent-color);
                }

                .guidance__dot{
                    color: var(--background-secondary-color);
                }
            }

            .guidance__subtitle{
                font-family: "Noto Sans", sans-serif;
                font-size: 18px;
                font-weight: 500;
                color: var(--second-font-color);
            }

            .guidance__description{
                font-family: "Noto Sans", sans-serif;
                font-size: 16px;
                color: var(--second-font-color);
                line-height: 1.7;
            }

            .guidance__inner-container{
                display: flex;
                flex-wrap: wrap;
                gap: 16px 24px;

                .guidance__service-container{
                    display: flex;
                    align-items: center;

                    .guidance__svg{
                        width: 20px;
                        height: auto;
                        padding-right: 10px;
                        box-sizing: content-box;
                        fill: var(--background-secondary-color);
                    }
                }
            }
        }
    }
}