<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3d Print Services Website Template Demo</title>
    <link rel="stylesheet" href="css/index.css" />
    <link rel="shortcut icon" type="image/png" href="//res2.weblium.site/res/68999fa97b47e3d7b22277e8/68aec3acd4c4c9329fe12682_optimized" sizes="16x16">
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <section>
        <nav
          data-hx-trigger="load"
          data-hx-swap="outerHTML"
          data-hx-get="index.header-navigation.partial.html"
        ></nav>
      </section>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.header-hero.partial.html"
      ></section>
    </header>
    <main>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main-characteristic.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main.about-us.partial.html"
      ></section>

      <!-- <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main.our-projects.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main.3d-printing-services.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main.steps.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main.goal.partial.html"
      ></section>

       <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.main.our-news-articles.partial.html"
      ></section> -->
    </main>
    <!-- <footer>
      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="index.footer-contacts.partial.html"
      ></section>

      <section
        data-hx-trigger="load"
        data-hx-swap="outerHTML"
        data-hx-get="global.footer.partial.html" 
      ></section>
    </footer> -->
  </body>
</html>
